<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<link rel="stylesheet" type="text/css" href="/public/style.css" /> 
<title>Contact</title>
</head>
<body>
    <nav>
        <ul> 
            <li><a href="/home">home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<main>
<h1>Contact page</h1>
<a href
</main>
</body>
</html>