<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<link rel="stylesheet" type="text/css" href="/public/style.css" /> 
<title>SEO for Beginners: An Introduction to SEO Basics</title>
</head>
<body>

<div class="topnav">
<a class="active" href="#home">Home</a>
<a href="#about">About</a>
<a href="#contact">Contact</a>
<a href="#Work">Work</a>
</div>
<main>


</main>
<script type="text/html" src="views/about.html"></script>
<script type="text/html" src="views/contact.html"></script>
<script type="text/html" src="views/work.html"></script>
</body>
</html>