<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<link rel="stylesheet" type="text/css" href="/public/style.css" /> 
<title>Work</title>
</head>
<body>
<nav>
    <ul> 
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<main>
<h1> Work </h1>
</main>

<script type="text/html" src="views/about.html"></script>
<script type="text/html" src="views/contact.html"></script>
<script type="text/html" src="views/work.html"></script>

</body>
</html>